* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
body main {
  background: linear-gradient(to bottom, #002723, #008174, #00312d);
  text-align: center;
  height: 100vh;
}
body main h1 {
  text-align: center;
  text-wrap: wrap;
  padding: 6rem 0;
  color: #fff;
}
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 1rem 2rem;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}

input[type="submit"]:hover {
  background-color: #002723;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  body main h1 {
    font-size: 2rem;
    padding: 20px;
  }
  form {
    max-width: 300px;
    padding: 30px;
  }
}
